
html, .body_main {
	background-image: url("../res/img/bkg.png");
}

.container {
 	background-color: rgba(255, 255, 255, 0.95);
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.iconsfunc {
	padding-right: 10px;
}


.form-signin input {
	margin: 5px 0px;
}

.fromtop {
	margin-top: 35px;
}

iframe {
	border:0;
}

aside {
	padding:	10px 20px;
 	background-color: rgba(240, 240, 240, 0.95);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

aside button .btn-default {
	position: absolute;
	bottom: 10;
	right:10;
}

aside img {
	vorder 1px solid black;
}

.vcenter {
	display:table-cell;
	vertical-align:middle;
	float: none;
}

.circular {
	width: 50px;
	height: 50px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(http://link-to-your/image.jpg) no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
