
body {
		background-image: url("../res/img/bkg.png");
}

.container {
	background: #FFFFFF;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.iconsfunc {
	padding-right: 10px;
}
