
body {
	background-image: url("../res/img/bkg.png");
}

.container {
 	background-color: rgba(255, 255, 255, 0.95);
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.iconsfunc {
	padding-right: 10px;
}
